$color-p: #4f4d4d;
$gris: #939292;
$negro: #2d2d2d;
$pre-footer: #717d8c;
$footer: #3e444b;
$a: #272727;
$active: #224767;
$fondo1: #f3f9f1;
$blanco: #ffffff;
$cargo: #5b5b5b;
$num1: #bbd2b0;
$num2: #9ebea6;
$num3: #729696;
$num4: #4a6781;
$business: #222121;
