.inline{
  display: inline-flex;
}

.avatar-cargo{
  @include textos(em(20px),600!important,$cargo,initial);
}

.parallax{
  position: relative;
  top: 7px;
}

#owl-demo{
  text-align: center;
}

.owl-next{
  @include arrow("../img/next.png",right,-288px);
}

.owl-prev{
  @include arrow("../img/prev.png",left,-288px);
}
