.columns.contactenos
  .column
    .inline
      img(src="img/atis-img.png",alt="ATIS",class="banner",height="405px")
      .address
        p.mb-50 #[strong Adress:] 2500 NW 79th Ave Suite 177 Doral, fl 33122
        p.mb-50 #[strong Telephone:] (786) 309 3391
        p.mb-50 #[strong FAX:] (786) 309 3391
        p.mb-50 #[strong EMAIL:] info@atisre.com
        a(href="#")
          img(src="img/facebook.png",alt="ATIS")
        a(href="#")
          img(src="img/instagram.png",alt="ATIS")
        a(href="#")
          img(src="img/linked-in.png",alt="ATIS")
      
  .column
    .box-contact
      form(action="" method="POST")
        legend Contactenos
        p.control
          input(type="text" name="email" placeholder="EMAIL" required )
        p.control
          input(type="text" name="telefono" required placeholder="TELEFONO")
        p.control
          input(type="text" name="nombre" required placeholder="NOMBRE")
        p.control
          textarea(name="mensaje" placeholder="EN QUE PODEMOS AYUDARTE?" required)
        p.control
          button.button.boton CONTACTANOS
